/* --------------------------*/
/* GENERAL SETUP */
/*---------------------------*/
html {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}

/* --------------------------*/
/* HEADINGS */
/*---------------------------*/
h1 {
    letter-spacing: 3px;;
    text-transform: uppercase;
    padding: 10px;
}

/* --------------------------*/
/* HEADER */
/*---------------------------*/
.jumbotron {
    color: #FFFFFF;
    background-color: #000000;
}

.input-group {
    margin: 0 auto;
    width: 50%;
}

/* --------------------------*/
/* MOVIE SECTION */
/*---------------------------*/
